﻿@model RecycleBin.Models.ProductViewModel

@{Layout = "~/Views/Shared/_Layout.cshtml";}

<div class="row">
    <div class="col-lg-12">
        <h4>Product Catalog Module <i class="fa fa-angle-right"></i> Product</h4>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add New Product</button>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <div class="modal-title" id="myModalLabel">Add New Session</div>
                    </div>
                    <div class="modal-body">
                        <form role="form" method="post">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-3">@Html.LabelFor(c => c.CategoryId)</div>
                                    <div class="col-lg-8">@Html.DropDownListFor(c => c.CategoryId, Model.CategorySelectListItems, "-SELECT-", new { @class = "form-control" })</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-8">@Html.ValidationMessageFor(c => c.CategorySelectListItems)</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-3">@Html.LabelFor(c => c.Code)</div>
                                    <div class="col-lg-8">@Html.TextBoxFor(c => c.Code, null, new { @class = "form-control" })</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-8">@Html.ValidationMessageFor(c => c.Code)</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-3">@Html.LabelFor(c => c.Name)</div>
                                    <div class="col-lg-8">@Html.TextBoxFor(c => c.Name, null, new { @class = "form-control" })</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-8">@Html.ValidationMessageFor(c => c.Name)</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-3">@Html.LabelFor(c => c.ReOrderLevel)</div>
                                    <div class="col-lg-8">@Html.TextBoxFor(c => c.ReOrderLevel, null, new { @class = "form-control" })</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-8">@Html.ValidationMessageFor(c => c.ReOrderLevel)</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-3">@Html.LabelFor(c => c.Description)</div>
                                    <div class="col-lg-8">@Html.TextAreaFor(c => c.Description, new { @class = "form-control" })</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-8">@Html.ValidationMessageFor(c => c.Description)</div>
                                </div>
                            </div>
                            <div class="form-group text-right">
                                <div class="row top-right">
                                    <div class="col-lg-11">
                                        <button class="btn btn-success" type="reset"><i class="glyphicon glyphicon-refresh"></i> Reset</button>
                                        <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-ok"></i> Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{ Html.RenderPartial("Product/_productDetails", Model); }

@section MySricpt
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}